<h3>Interactions</h3>
<div class="actionDiv">
    <clr-select-container *ngIf="enableClustering">
        <label class="serviceSelectLabel">Select service</label>
        <select clrSelect name="options" [(ngModel)]="serviceName" (change)="initNetwork()" class="serviceSelect">
            <option value="ALL">ALL</option>
            <option value="{{item}}" *ngFor="let item of serviceList">{{item}}</option>
        </select>
    </clr-select-container>
    <div class="buttonDiv">
        <button type="button" (click)="reset()" class="btn btn-sm" *ngIf="enableClustering">Pod View</button>
        <button type="button" (click)="clusterByCid()" class="btn btn-sm" *ngIf="!enableClustering">Cluster Pods by Services</button>
    </div>
</div>
<div class="descDiv" *ngIf="enableClustering">
    <span>Scroll in to cluster. Press on the cluster to open up.</span>
</div>
<div class="spinnerDiv" *ngIf="NODE_STATUS === 'WAIT' || EDGE_STATUS === 'WAIT'">
    <div class="spinner">
    </div>
</div>

<div class="mainDiv" id="mynetwork" #networkContainer>

<div *ngIf="NODE_STATUS === 'NO_DATA' || EDGE_STATUS === 'NO_DATA'">
        <div class="clr-row">
            <div class="clr-col-4">
                <div class="alert alert-warning" role="alert">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="alert-text">
                                Experimental feature disabled!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
