#workload_title{
    font-weight: bold;
    color : #495A67;
    font-size: 25px;
}
.inputL{
    font-size : 16px;
    width : 100%;
}
.input{
    width : 100%;
}
#profile_title{
    font-weight: 800;
    font-size : 16px;
    padding-top : 40px;
}
.date{
    float : left;
    font-weight : bold;
    font-size : 16px;
    padding-top : 30px;     
}
.startDate{
    float : left;
    clear : left;
    padding-left : 60px;
}
.endDateLabel{
    padding-top : 100px;
    padding-left : 65px;
    font-weight : bold;
    font-size : 16px
}
.endDate{
    padding-left : 60px;
}
.whatifBtn{
    padding-left : 200px;
}