<div class="row">
  <div class="col-md-2" *ngFor = "let cloud of cloudRegions ; let c = index">
        <div class="card cloudCard" [ngStyle]="myStyles[c%4]">
            <div class="card-block">
                <div class="card-title">
                    <label>{{cloud.cloud}}</label>
                    <img class = "cloudImg" src = "../../../../../assets/images/{{images[c]}}">
                </div>
                <div class="card-text">
                  <select clrSelect name="options" [(ngModel)]="selectedRegions[c]">
                    <option  *ngFor = "let region of cloudRegions; let r = index" value = "{{region.region[r]}}">{{region.region[r]}}</option>    <!--how did this work-->
                  </select>
                </div>
            </div>
        </div>      
  </div>
</div>

<div class="clr-row" class = "btnRow" *ngIf = "showBtn">
  <div class="clr-col-12">
    <button class="btn btn-primary" (click) = "showClouds()"><label class = "run">Run</label></button>      
  </div>
</div>

<div class="row" *ngIf = "showCloud">
  <div class="col-md-2" *ngFor = "let cloud of cloudRegions ; let c = index">
      <div class="card" >
          <div class="card-block">
              <div class="card-title">
                  {{cloud.cloud}}
              </div>
              <div class="card-text">
                  <div>CPU : {{cloudDetails[c].cpu}}</div>
                  <div>CPU Cost: {{cloudDetails[c].cpuCost}}</div>
                  <div>Memory : {{cloudDetails[c].memory}}</div>
              </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm" (click) = "showDetails()">View Details</button>
        </div>
      </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <p>But not much to say...</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
    </div>
</clr-modal>