body {
    background: #FFFFFF;
    font-family: Georgia;  
    border-top: 10px solid #DC4436;
    color: #333333;
    margin: 0;
    padding: 10px;
  }
  
  h1 { color: #DC4436 }
  a { color: #CDA09C; text-decoration: none}
  a:hover { color: #DC4436 }
  a.sortDir.active {
    color: #DC4436;
    cursor: default;
  }
  
  table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

.linksor {
  cursor: pointer;
}