<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Hierarchy</button>
        <clr-tab-content id="content1" *clrIfActive="true">
            <app-topo-graph></app-topo-graph>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Capacity</button>
        <clr-tab-content *clrIfActive>
            <app-capactiy-graph></app-capactiy-graph>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Interactions</button>
        <clr-tab-content *clrIfActive>
            <topology-graph></topology-graph>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>