<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-block graphCardBlock">
                <div class="headerBlock">
                    <div class="card-title">
                        <span class="headerText">Hierarchy</span>
                    </div>
                    <div class="filterDiv">
                        <clr-select-container>
                            <label>Filter</label>
                            <select clrSelect name="filerItems" [(ngModel)]="selectedFilterItem" (ngModelChange)="filterItemChange($event)">
                                <option value="select">--Select--</option>
                                <option *ngFor="let item of filterItems">{{item}}</option>
                            </select>
                        </clr-select-container>
                    </div>
                    <div class="toggleDiv">
                        <div class="form-group">
                            <label class="viewSwitchLeftLabel" for="formGroupExampleInput">Logical View</label>
                            <div class="toggle-switch right-label">
                                <input type="checkbox" id="viewSwitch" [(ngModel)]="physicalView" (ngModelChange)="viewChange()">
                                <label for="viewSwitch">Physical View</label>
                            </div>
                        </div>
                    </div>
                    <div class="resetBtn">
                        <button class="btn btn-outline btn-sm" (click)="reset()">Reset</button>
                    </div>
                </div>
                <div class="card-text" *ngIf="TOPO_STATUS === 'READY'">
                    <div class="legendDiv">
                        <div class="legend" *ngFor="let item of legendArr">
                            <div class="fakeLegend" [ngStyle]="{'background-color':item.color}"></div>
                            <div class="fakeLegendText">{{item.displayText}}</div>
                        </div>
                    </div>
                    <google-chart class="googleChart" [type]="'OrgChart'" [data]="graphData" [columnNames]="colNames" [options]="chartOptions"
                        (select)="onSelect($event)" style="cursor:pointer"></google-chart>
                </div>
                <p class="card-text" *ngIf="TOPO_STATUS === 'WAIT'">
                    <span class="spinner"></span>
                </p>
                <div *ngIf="TOPO_STATUS === 'NO_DATA'">
                    <div class="clr-row">
                        <div class="clr-col-4">
                            <div class="alert alert-warning" role="alert">
                                <div class="alert-items">
                                    <div class="alert-item static">
                                        <div class="alert-icon-wrapper">
                                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                        </div>
                                        <span class="alert-text">
                                            No data found.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
