<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Purser
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username"/>
            </clr-input-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword placeholder="OldPassword" [(ngModel)]="form.password"/>
            </clr-password-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword placeholder="NewPassword" [(ngModel)]="form.newPassword"/>
            </clr-password-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword placeholder="NewPassword" [(ngModel)]="form.newPasswordCheck"/>
            </clr-password-container>
            <div class="error active" *ngIf="notMatch">
                New passwords didn't match
            </div>
            <div class="error active" *ngIf="LOGIN_STATUS == 'wrong'">
                Invalid user name or password
            </div>
            <div class="alert alert-success" role="alert" *ngIf="LOGIN_STATUS == 'success'">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                        </div>
                        <span class="alert-text">Password Change Success</span>
                    </div>
                </div>
            </div>
            <button [clrLoading]="submitBtnState" type="submit" class="btn btn-primary" (click)="submitChangePassword()">Login</button>
        </div>
    </form>
</div>