<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-block graphCardBlock">
                <div class="headerBlock">
                    <div class="card-title">
                        <span class="headerText">Capacity</span>
                    </div>
                    <div class="toggleDiv">
                        <div class="form-group">
                            <label class="viewSwitchLeftLabel" for="formGroupExampleInput">Logical View</label>
                            <div class="toggle-switch right-label">
                                <input type="checkbox" id="viewSwitch" [(ngModel)]="physicalView" (ngModelChange)="viewChange()">
                                <label for="viewSwitch">Physical View</label>
                            </div>
                        </div>
                    </div>
                    <div class="resetBtn">
                        <button class="btn btn-outline btn-sm" (click)="reset()">Reset</button>
                    </div>
                </div>
                <div *ngIf="CAPA_STATUS === 'READY'">
                    <div class="metricDiv">
                        <div class="selectDiv">
                            <div class="selectMetricDiv">
                                <clr-radio-container clrInline class="selectOptions">
                                    <div>
                                        <label>Select Metric</label>
                                    </div>
                                    <clr-radio-wrapper *ngFor="let item of metricOptions" class="radioWrapper">
                                        <input type="radio" clrRadio name="options" required value="{{item.value}}" [(ngModel)]="selectedMetric" (ngModelChange)="metricChange($event)"
                                         style="cursor:pointer" />
                                        <label class="radioLabel">{{item.displayValue}}</label>
                                    </clr-radio-wrapper>
                                </clr-radio-container>
                            </div>
                            <div class="selectDropdownDiv">
                                <clr-select-container>
                                    <div>
                                        <label>Filter</label>
                                    </div>
                                    <select clrSelect name="filerItems" [(ngModel)]="selectedFilterItem" (ngModelChange)="filterItemChange($event)" style="cursor:pointer">
                                        <option value="select">--Select--</option>
                                        <option *ngFor="let item of filterItems">{{item}}</option>
                                    </select>
                                </clr-select-container>
                            </div>
                        </div>
                        <div class="rootDataDiv">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="left">Name</th>
                                        <th class="left">Type</th>
                                        <th class="right" *ngFor="let item of metricOptions">{{item.displayValue + (item.units ? '('+item.units+')' : '')}}</th>
                                        <th class="right" *ngFor="let item of metricOptions">{{item.displayValue + ' Cost ($)'}}</th>
                                        <th class="right">Total Cost ($)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="left">{{rootItem.name || '-'}}</td>
                                        <td class="left">{{rootItem.type || '-'}}</td>
                                        <td class="right" *ngFor="let item of metricOptions">{{rootItem[item.value] | number: '1.0-2' || 0}}</td>
                                        <td class="right" *ngFor="let item of metricOptions">{{rootItem[item.value+'Cost'] | number: '1.0-2' || 0}}</td>
                                        <td class="right">{{rootItem['cpuCost'] + rootItem['memoryCost'] + rootItem['storageCost'] | number: '1.0-2' || 0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="googleChartDiv">
                        <google-chart class="googleChart" [type]="'TreeMap'" [data]="graphData" [columnNames]="colNames" [options]="chartOptions"
                            (select)="onSelect($event)" style="cursor:pointer"></google-chart>
                    </div>
                </div>
                <p class="card-text" *ngIf="CAPA_STATUS === 'WAIT'">
                        <span class="spinner"></span>
                </p>
                <div *ngIf="CAPA_STATUS === 'NO_DATA'">
                    <div class="clr-row">
                        <div class="clr-col-4">
                            <div class="alert alert-warning" role="alert">
                                <div class="alert-items">
                                    <div class="alert-item static">
                                        <div class="alert-icon-wrapper">
                                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                        </div>
                                        <span class="alert-text">
                                            No data found.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 5%" *ngIf="CAPA_STATUS === 'READY'">
    <div class="headerBlock">
        <div class="card-title">
            <span class="headerText">{{resourceType + ' Resource Allocation vs Capacity'}}</span>
        </div>
    </div>
</div>

<div class="clr-row" *ngIf="CAPA_STATUS === 'READY'">
    <div class="clr-col-12 clr-col-sm-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">CPU</h4>
                    <p class="card-text">Allocated: {{ cpuAllocated }} vCPU<br />  Capacity: {{ cpuCapacity }} vCPU</p>
                    <div class="progress-block">
                        <label>CPU</label>
                        <div class="progress-static labeled">
                            <div class="progress-meter" [attr.data-value]="cpuRatio" [attr.data-displayval]="cpuRatio + '%'"></div>
                            <span>{{ cpuRatio }}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="clr-col-12 clr-col-sm-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Memory</h4>
                <p class="card-text">Allocated: {{ memoryAllocated }} GB<br />  Capacity: {{ memoryCapacity }} GB</p>
                <div class="progress-block">
                    <label>Memory</label>
                    <div class="progress-static labeled">
                        <div class="progress-meter" [attr.data-value]="memoryRatio" [attr.data-displayval]="memoryRatio + '%'"></div>
                        <span>{{ memoryRatio }}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-12 clr-col-sm-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Storage</h4>
                <p class="card-text">Allocated: {{ storageAllocated }} GB<br />  Capacity: {{ storageCapacity }} GB</p>
                <div class="progress-block">
                    <label>Storage</label>
                    <div class="progress-static labeled">
                        <div class="progress-meter" [attr.data-value]="storageRatio" [attr.data-displayval]="storageRatio + '%'"></div>
                        <span>{{ storageRatio }}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
